*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}
#container-box{
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 85vh 15vh;
    overflow: hidden;
}
.spotify-body{
    display: grid;
    grid-template-columns: 15vw 85vw;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,1));
    background-color: rgb(29, 31, 32);
}
.body{
    height: 100%;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 10px;
        background: linear-gradient(transparent, rgba(0,0,0,1));
        background-color: rgb(0, 0, 0);
    }
      &::-webkit-scrollbar-thumb{
        background-color: rgb(99, 95, 95);
        height: 7rem;

    }
}
